
<!----------------------------------------------header--------------------------------------------------------->
<app-header></app-header>
<div class="row">
    <div class="col col-md-2">
        <!-------------------------------------SideBar------------------------------------------------>
        <app-side-bar></app-side-bar>
    </div>
    <!----------------------------------------------Content------------------------------------------------------>
    
    <div class="col col-md-10">
        <div class="alert alert-danger" role="alert">
            Stock is low !
          </div>
        <main class="container ">
            <div  id="cardContainer">
                <table>
                    <Tbody>
                        <tr>
                            <td>
                                <div class="p-5 shadow text-center" id="card">
                                    <img width="50" height="50" src="https://img.icons8.com/ios/50/1A1A1A/open-box.png" alt="open-box"/>
                                    <p>Products</p>
                                    <span class="h1">400000</span>
                                </div> 
                            </td>
                            <td>
                                <div class="p-5 shadow text-center" id="card">
                                    <img width="50" height="50" src="https://img.icons8.com/ios-filled/50/7950F2/sale.png" alt="sale"/>                                       
                                     <p>Sale</p>
                                    <span class="h1">12000</span>
                                </div>
                            </td>
                                <td>
                                    <div class="p-5 shadow text-center" id="card">
                                        <img width="64" height="64" src="https://img.icons8.com/external-febrian-hidayat-glyph-febrian-hidayat/64/1A1A1A/external-Damage-fantasy-and-rpg-febrian-hidayat-glyph-febrian-hidayat.png" alt="external-Damage-fantasy-and-rpg-febrian-hidayat-glyph-febrian-hidayat"/>                                            
                                        <p>Damage</p>
                                        <span class="h1">30</span>
                                    </div>
                                </td>
                        </tr><br><br>
                    </Tbody>
                </table>
                 <table>
                    <tbody>
                        <tr>
                            <td>
                                <div class="p-5 shadow text-center" id="card">
                                    <img width="64" height="64" src="https://img.icons8.com/glyph-neue/64/7950F2/return.png" alt="return"/>                                
                                    <p>Return</p>
                                    <span class="h1">30</span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                 </table>
            </div>
        </main>
    </div>
</div>
<a href="/dashbord#nav">
    <img width="54" height="54" id="upArrow" src="https://img.icons8.com/glyph-neue/64/1e90ff/circled-chevron-up.png" alt="circled-chevron-up"/>
</a>
<!--------------------------------------Footer----------------------------------------------->
<app-footer></app-footer>