/* -------------------------------------------------Nav------------------------------------- */
#nav,nav{
    background: var(--primary);
    color: white;
}
nav li a{
    color: white;
    list-style: none;
}