<div class="" id="nav">
    <nav class="navbar navbar-expand-lg bg-body-dark container ">
      <div class="container-fluid">
        <a href="/dashbord">
        <img width="64" height="64" src="https://img.icons8.com/pastel-glyph/64/move-by-trolley.png" alt="move-by-trolley"/>
        <a class="navbar-brand" routerLink="/dashbord">IMS</a></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"> 
              <a class="nav-link active text-light" aria-current="page" routerLink="/home">
                <i class="bi bi-house-door"></i> HOME
              </a>
            </li>
            <li class="nav-item"> 
              <a class="nav-link active text-light" aria-current="page" routerLink="">MANAGMENT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" routerLink=""> INTELLIGENCE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active text-light" aria-current="page" routerLink="">QUICK START</a>
            </li>
            <form class="d-flex" role="search">
              <div class="input-group">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
              </div>
            </form>
          </ul>
          <img style="width: 30px; height: 30px; border-radius: 30px;" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrlT9yWFG8OrZxFTIWdPhoczJpZuZIsrjP9A&usqp=CAU" alt="" id="userImg">adminuser

          <!-- <i class="bi bi-bell-fill"></i> -->
        </div>
      </div>
    </nav>
    <hr>
  
 