  
<main>

    <div id="section1">
      <div id="section1_leftDiv">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/dashbord"><i class="bi bi-speedometer2"> </i> Dashbord</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/contact"><i class="bi bi-person-lines-fill"></i> 
            Contact
          </a>        
        </li>
        
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/customer">
            <img width="0" height="20" src="https://img.icons8.com/external-icongeek26-glyph-icongeek26/64/FFFFFF/external-customer-ads-icongeek26-glyph-icongeek26.png" alt="external-customer-ads-icongeek26-glyph-icongeek26"/> 
            Customer
          </a>        
       <ul>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/customers"><i class="bi bi-person-circle"></i>
             Users
            </a>        
        </li>
        <li class="nav-item">
          <a class="nav-link text-light"  routerLink="/products">
            <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/FFFFFF/open-box.png" alt="open-box"/>
             Product
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/categorys">
            <img width="20" height="20" src="https://img.icons8.com/external-sbts2018-solid-sbts2018/58/FFFFFF/external-category-basic-ui-elements-2.2-sbts2018-solid-sbts2018.png" alt="external-category-basic-ui-elements-2.2-sbts2018-solid-sbts2018"/> 
            Category
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/order">
            <img width="20" height="20" src="https://img.icons8.com/ios/50/FFFFFF/sell-stock.png" alt="sell-stock"/>
             Orders
          </a>        
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/sale">
            <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/FFFFFF/sale.png" alt="sale"/> 
            Sale
          </a>        
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/purchase">
            <img width="20" height="20" src="https://img.icons8.com/ios-glyphs/30/FFFFFF/purchase-for-euro.png" alt="purchase-for-euro"/> 
            Purchase
          </a>        
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/return">
            <img width="20" height="20" src="https://img.icons8.com/carbon-copy/100/FFFFFF/return.png" alt="return"/> 
            Return
          </a>
        </li>
       </ul>
        </li>
       
        <li class="nav-item">
          <a class="nav-link text-light">Inventory</a>
          <ul>
            <li class="nav-item">
              <a class="nav-link text-light" routerLink="/vendor">
                <img width="20" height="20" src="https://img.icons8.com/ios/50/FFFFFF/ticket-purchase.png" alt="ticket-purchase"/> 
                Vendors
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" routerLink="/stokeIn">
                <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/FFFFFF/enter-2.png" alt="enter-2"/> 
                Stock In
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" routerLink="/stokeOut">
                <img width="20" height="20" src="https://img.icons8.com/ios-filled/50/FFFFFF/open-pane.png" alt="open-pane"/>
                 Stock Out
              </a>
            </li>
  
            <li class="nav-item">
              <a class="nav-link text-light" routerLink="/report">
                <img width="20" height="20" src="https://img.icons8.com/ios/50/FFFFFF/health-graph.png" alt="health-graph"/> 
                Report
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" routerLink="/damage">
                <img width="20" height="20" src="https://img.icons8.com/external-febrian-hidayat-glyph-febrian-hidayat/64/FFFFFF/external-Damage-fantasy-and-rpg-febrian-hidayat-glyph-febrian-hidayat.png" alt="external-Damage-fantasy-and-rpg-febrian-hidayat-glyph-febrian-hidayat"/>
                Damage
              </a>
            </li>
          </ul>
        </li>
        
        <li class="nav-item">
          <a class="nav-link text-light" routerLink="/Adminsettings">
            <img width="23" height="23" src="https://img.icons8.com/ios-filled/50/FFFFFF/settings.png" alt="settings"/>
            Settings
          </a>
        </li>
      </ul>
      </div>
    </div>
  </main>
  
  
  
  
  